.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    height: 600px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.login-image-container,
.login-form-container {
    flex: 1;
    transition: transform 0.5s ease-in-out;
}

.login-image-container {
    flex: 1;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    z-index: 1;
}

.login-image-container.move-right {
    transform: translateX(100%);
}

.login-image-title {
    color: #ffffff;
}

.login-image {
    width: 70%;
    transition: transform 0.5s ease-in-out;
}

.login-image.flipped {
    transform: scaleX(-1);
}

.login-image-subtitle,
.login-image-paragraph {
    color: #ffffff;
}

.login-form-container {
    flex: 1;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-container.move-left {
    transform: translateX(-100%);
}

.switch-button-container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.switch-button {
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #007bff;
    cursor: pointer;
    background: none;
    padding: 0;
    transition: color 0.2s;
}

.switch-button:hover {
    background: none;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: flex;
    justify-content: center;
}