.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

.login-page.register .login-container {
    transform: translateX(-50%);
}

.login-container {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.login-image-container {
    flex: 1;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.login-image-title {
    color: #ffffff;
}

.login-image {
    transform: scaleX(1);
    width: 70%;
}

.login-image-subtitle {
    color: #ffffff;
}

.login-image-paragraph {
    color: #ffffff;
}

.login-form-container {
    flex: 1;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.switch-button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}