.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    display: flex;
    pointer-events: none;
    color: #aaa;
}

.input-icon.default {
    color: #aaa;
}

.input-icon.valid {
    color: #13a713;
}

.input-icon.invalid {
    color: #fd3d3d;
}

.default-input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: #333;
}

.default-input::placeholder {
    color: #aaa;
}

.default-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.default-input.input-error {
    border-color: #fd3d3d;
}

.default-input.input-error:focus {
    border-color: #fd3d3d;
    box-shadow: 0 0 5px rgba(253, 61, 61, 0.5);
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

.input-error-icon {
    position: absolute;
    right: 10px;
    color: #fd3d3d;
    display: flex;
    align-items: center;
}

.error-message {
    color: #fd3d3d;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: -10px;
}